<!--<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
    <html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">-->
        <html>
    <style type="text/css">
        h1 {background: 675;}
        h2 {color: #bf8, border-top: 1px dotted #fff;}
    </style>
<head>
    <link rel="stylesheet" href="/static/css/style.css" />
    <title>{% block title %}Главная - Геннадий Злобин{% endblock %}</title>
</head>
<body style="margin: 0;">
    <div id="header">
    <h1>Gennadiy Zlobin</h1>
    gennad
    <img src="/static/img/dot.png"/>
    zlobin
    <img src="/static/img/at.png"/>
    gmail
    <img src="/static/img/dot.png"/>
    com
    </div>
    <div id="content">
        I am a Python engineer.
        <ul>
            <li>1</li>
            <li>2</li>
        </ul>
    {% block content %}
    {% endblock %}
    <img src="/static/img/gennad_zlobin.jpg"/>
    </div>
</body>
</html>

